---
interface Props {
  text: string
}
const { text } = Astro.props
---

<div class="flex gap-4 items-center my-10">
  <hr class="flex-1 h-px bg-foreground/10 border-none" />
  <span class="shrink-0 whitespace-nowrap text-xs uppercase tracking-wider text-foreground/40">{text}</span>
  <hr class="flex-1 h-px bg-foreground/10 border-none" />
</div>
