---
import siteConfig from '~/site.config'
import SocialLinks from '~/components/SocialLinks.astro'
---

<footer class="mt-auto pt-16 pb-8 flex flex-col gap-6 items-center text-foreground/40 text-xs">
  {siteConfig.socialLinks && <SocialLinks socialLinks={siteConfig.socialLinks} />}
  <span>
    {siteConfig.author} / {new Date().getFullYear()}
  </span>
</footer>
