---
import siteConfig from '~/site.config'
import LightDarkAutoButton from '~/components/LightDarkAutoButton.astro'
import Search from '~/components/Search.astro'
import SelectTheme from '~/components/SelectTheme.astro'
import NavLink from '~/components/NavLink.astro'

const lightDarkAutoTheme = siteConfig.themes.mode === 'light-dark-auto'
const selectTheme =
  siteConfig.themes.mode === 'select' && siteConfig.themes.include.length > 1
---

<header class="py-6">
  <div class="flex items-center justify-between">
    <a
      id="logo"
      href="/"
      class="text-foreground no-underline font-medium tracking-tight hover:text-accent transition-colors duration-150"
    >
      {siteConfig.title}
    </a>
    <div class="flex items-center gap-4">
      <nav aria-label="Menu" class="hidden sm:block">
        <ul class="flex items-center gap-6 text-foreground/70">
          {
            siteConfig.navLinks.map((link) => (
              <li>
                <NavLink link={link} />
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="flex items-center gap-3 text-foreground/50">
        <Search trailingSlashes={siteConfig.trailingSlashes} />
        {lightDarkAutoTheme && <LightDarkAutoButton />}
        {selectTheme && <SelectTheme />}
      </div>
      <nav id="nav-mobile" aria-label="Menu" class="sm:hidden">
        <button
          id="nav-mobile-button"
          class="px-2 py-1 text-foreground/60 hover:text-foreground border border-foreground/20 hover:border-foreground/40 transition-all duration-150"
          type="button"
          aria-expanded="false"
          aria-controls="nav-menu-list"
        >
          menu
        </button>
        <ul
          id="nav-mobile-list"
          class="invisible absolute flex flex-col bg-background border border-foreground/10 text-foreground/70 m-0 p-3 top-14 right-3 z-50"
        >
          {
            siteConfig.navLinks.map((link) => (
              <li class="py-1" aria-expanded="false">
                <NavLink link={link} />
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  const navMobileButton = document.getElementById('nav-mobile-button')
  const navMobileList = document.getElementById('nav-mobile-list')
  const navMobileListItems = navMobileList?.querySelectorAll('li')
  const toggleNavMobileMenu = (action: 'on' | 'off' | 'toggle') => {
    let isNowOpen: boolean = false
    if (action === 'on') {
      isNowOpen = true
      navMobileList?.classList.remove('invisible')
    } else if (action === 'off') {
      isNowOpen = false
      navMobileList?.classList.add('invisible')
    } else {
      isNowOpen = !navMobileList?.classList.toggle('invisible')
    }
    navMobileButton?.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
    navMobileListItems?.forEach((listItem) => {
      listItem.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
    })
  }
  navMobileButton?.addEventListener('click', (_ev) => {
    toggleNavMobileMenu('toggle')
  })
</script>
