---
import { Image } from 'astro:assets'
import GitHubActivityCalendar from '~/components/GitHubActivityCalendar.astro'
import type { FrontmatterImage } from '~/types'

interface Props {
  avatarImage?: FrontmatterImage
  githubCalendar?: string
}
const { avatarImage, githubCalendar } = Astro.props
---

<div class="py-8">
  <div class="flex flex-col sm:flex-row items-center sm:items-start gap-6">
    {
      avatarImage && (
        <Image
          priority
          src={avatarImage.src}
          alt={avatarImage.alt}
          class="rounded-full border border-foreground/10 size-24 aspect-square shrink-0"
          widths={[192]}
          height={96}
          width={96}
        />
      )
    }
    <div class="prose text-center sm:text-left [&>*:first-child]:mt-0 [&>*:last-child]:mb-0">
      <slot />
    </div>
  </div>
  {githubCalendar && <GitHubActivityCalendar username={githubCalendar} />}
</div>
