---
interface Props {
  title?: string
  titlePieces?: string[]
}

const { title, titlePieces } = Astro.props

const splitPath: string[] = Astro.url.pathname
  .split('/')
  .filter(Boolean)
  .map((part) => decodeURIComponent(part))

const pieces = titlePieces ?? splitPath

if (pieces.length === 0) {
  pieces.push('home')
}
---

<div class="mt-6 mb-2">
  <h1 class="text-xs uppercase tracking-wider text-foreground/50 font-medium">
    {title ? title : pieces.join(' / ')}
  </h1>
</div>
