---
import type { FrontmatterImage } from '~/types'
import { Image } from 'astro:assets'

interface Props {
  avatarImage?: FrontmatterImage
}
const { avatarImage } = Astro.props
---

<div class="flex flex-col sm:flex-row items-center sm:items-start gap-6 py-8 border-t border-foreground/10">
  {
    avatarImage && (
      <Image
        src={avatarImage.src}
        alt={avatarImage.alt}
        class="rounded-full border border-foreground/10 size-24 aspect-square shrink-0"
        widths={[192]}
        height={96}
        width={96}
      />
    )
  }
  <div class="prose text-center sm:text-left [&>*:first-child]:mt-0 [&>*:last-child]:mb-0">
    <slot />
  </div>
</div>
