---
import type { SocialLinks } from '~/types'
import IconGithub from '~/icons/github.svg'
import IconTwitter from '~/icons/twitter.svg'
import IconLinkedin from '~/icons/linkedin.svg'
import IconRss from '~/icons/rss.svg'

interface Props {
  socialLinks: SocialLinks
}

const { socialLinks } = Astro.props
---

<div class="flex items-center gap-6">
  {
    socialLinks.github && (
      <a
        href={socialLinks.github}
        target="_blank"
        rel="noopener noreferrer"
        class="text-foreground/40 hover:text-foreground transition-colors duration-150"
      >
        <span class="sr-only">GitHub</span>
        <IconGithub class="size-5" />
      </a>
    )
  }
  {
    socialLinks.twitter && (
      <a
        href={socialLinks.twitter}
        target="_blank"
        rel="noopener noreferrer"
        class="text-foreground/40 hover:text-foreground transition-colors duration-150"
      >
        <span class="sr-only">Twitter</span>
        <IconTwitter class="size-5" />
      </a>
    )
  }
  {
    socialLinks.linkedin && (
      <a
        href={socialLinks.linkedin}
        target="_blank"
        rel="noopener noreferrer"
        class="text-foreground/40 hover:text-foreground transition-colors duration-150"
      >
        <span class="sr-only">LinkedIn</span>
        <IconLinkedin class="size-5" />
      </a>
    )
  }
  {
    socialLinks.rss && (
      <a
        href="/rss.xml"
        class="text-foreground/40 hover:text-foreground transition-colors duration-150"
      >
        <span class="sr-only">RSS</span>
        <IconRss class="size-5" />
      </a>
    )
  }
</div>
