---
import type { Collation } from '~/types'

interface Props {
  tags: Collation<'posts'>[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-2 text-xs">
  {
    tags.map((tag) => (
      <a
        href={tag.url}
        class="py-1 px-2 text-foreground/50 hover:text-foreground border border-foreground/10 hover:border-foreground/20 transition-all duration-150"
      >
        {tag.title}
      </a>
    ))
  }
</div>
