---
import type { CollectionEntry } from 'astro:content'
import { TagsGroup } from '~/utils'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
const tagsGroup = await TagsGroup.build(posts)
---

<ul class="flex flex-wrap gap-x-2 gap-y-2 my-4">
  {
    tagsGroup.sortCollationsLargest().map((tag) => (
      <li>
        <a
          href={tag.url}
          class="flex items-center gap-1.5 py-1 pl-2.5 pr-2 bg-accent/7 rounded-2xl border-transparent hover:border-accent/20 border-1 text-foreground/90 text-sm"
        >
          {tag.title}
          <span class="rounded-full bg-foreground/7 text-foreground/90 px-1.5 py-0.5 text-[10px] font-semibold">
            {tag.entries.length}
          </span>
        </a>
      </li>
    ))
  }
</ul>
