---
import Layout from '~/layouts/Layout.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  description?: string
}>

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <div class="max-w-full">
    <div class="mt-6 mb-2">
      <h1 class="text-xs uppercase tracking-wider text-foreground/50 font-medium">
        {frontmatter.title}
      </h1>
    </div>
    <div class="prose py-4">
      <slot />
    </div>
  </div>
</Layout>
